<div class="flex">
  <div class="current-walk">
    <div class="current-walk-title">
      <h5>{{title}}</h5>
    </div>
    <div class="current-walk-card">

      <img class="card-image" src='{{cardImageUrl}}' alt='{{title}}' />

      {{!-- <p>{{this.description}}</p> --}}

      </form>

    </div>
    <div class="edit-delete-buttons">
      <button class="edit-button"><a href='/main/{{this._id}}/edit'>Edit Walk</a></button>
      <form action='/main/{{this._id}}/delete' method='post'>
        <button class="delete-button">Delete walk</button>
      </form>
    </div>
  </div>



  <div class="comment-section">
    <form class="comment-form" action='/cards/{{this._id}}/comment' method='post'>
      {{!-- <div class="comment-title">
        <h3>Comments</h3>
      </div> --}}
      <div class="comment-body">
        {{#unless comments}}
        <h6>No comments on this post yet!</h6>
        {{/unless}}
        <ul class="comment-body-ul">

          {{#each comments}}

          <li>

            {{this.author.username}}
            :
            {{this.content}}
          </li>
          <br>
          {{/each}}
        </ul>
        <div class="comment-textarea-button">

          <textarea class="textarea" name='content' id='content' cols='10' rows='50'
            placeholder="Share your thoughts about this route"></textarea>
          <button class="share-button" type='submit'>Share</button>
        </div>
      </div>

    </form>




  </div>
</div>

<div class="flex-2">
  <div class="upload-photo-box">
    <form class="upload-photo" action="/cards/{{this._id}}/details" method="post" enctype="multipart/form-data">
      <label class="choose-photo" for="imageUrl">Upload picture</label>
      <input type="file" name="imageUrl" id="imageUrl">
      <button class="create-walk-btn" type="submit">Upload Photo</button>
    </form>
  </div>

  <div class="uploaded-photo-box">
    {{#each walkPhotoUrl}}

    <img class="photo-size" src='{{this}}' />

    {{/each}}
  </div>
</div>