<div class='all-cards'>
  <h1 class='greeting'>Hi {{firstName}}!</h1>
  <div class='all-cards-container'>
    <span class='card'>
      <a class='style-override' href='/cards/create'>
        <img
          class='plus-image'
          src='https://res.cloudinary.com/dvzekm9zq/image/upload/v1660140017/white-plus-sign_ug9vze.png'
        />
      </a>
      <button class='profileBtn'><a href='/cards/create'>

          New Walk</a></button>
    </span>

    {{#each walkCards}}
      <div class='card'>
        <div class='card-image'>
          <img src='{{cardImageUrl}}' alt='{{title}}' />
        </div>
        <h5 class='title'>{{title}}</h5>
        <span class='description'>{{description}}</span>
        <button class='profileBtn'><a href='/main/{{_id}}/details'>View Details</a></button>
        {{!-- <form action='/main/{{_id}}/delete' method='post'>
        <button>Delete walk</button>

      </form> --}}

      </div>
    {{/each}}
  </div>
</div>