<h1>Main Page</h1>

<p>Hello
  {{firstName}}
  {{lastName}}, you're username is
  {{username}}
  and you're email is
  {{email}}</p>
<button><a href='/cards/create'>Create card</a></button>

{{#each walkCards}}
  <div>
    <img src='{{cardImageUrl}}' alt='{{title}}' />
    <div>
      <h5>{{title}}</h5>
      <p>{{description}}</p>
      <button><a href='/main/{{id}}/details'>View Details</a></button>
      {{!-- <form action='/main/{{_id}}/delete' method='post'>
        <button>Delete walk</button>

      </form> --}}

    </div>
  </div>

{{/each}}