

<h1 class="greeting">{{firstName}} {{lastName}}</h1>

<div class="profile-container">

<div class="profile">
  <div class="profile-image">
<img src='{{profileImg}}' />
  </div>
<br>
</div>
<hr>
<div class="edit-delete-profile">
<button class="profileBtn"><a href="/profile/{{_id}}/edit">Edit Profile</a></button>
<form action="/profile/{{_id}}/delete" method="post">
  <button class="profileBtn">Delete Profile</button>
  </div>
